@import 'vars.scss';
.keyboard {
  margin-top: 3rem;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
}

.keyboard__btn {
  display: block;
  outline: 0;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 0.5rem;
  border: 1px solid #BDBDBD;
  border-radius: 0.125rem;
  background-color: transparent;
  font-size: 28px;
  user-select: none;
  color: color(primary-dark);
  cursor: default;
  font-family: 'Roboto Mono', monospace;
  &:last-child {
    margin-right: 0;
  }
  &--space {
    width: 20rem;
  }
  &--active {
    border: 1px solid transparent;
    background-color: color(key-current);
    color: color(primary-light);
  }
}
